@theme {
  --smaller-scale: 0.8;

  --larger-scale: 1.2;

  --pump-amount: 1.1;
  --pump-soft-amount: 1.05;
  --pump-hard-amount: 1.2;
  --pump-x-amount: 1.1;
  --pump-y-amount: 1.1;
  --pump-bounce-amount: 1.15;

  --blur-amount: 8px;

  --slide-amount: 20px;
  --slide-amount-negative: calc(-1 * var(--slide-amount));

  --rotation: 10deg;
  --rotation-negative: calc(-1 * var(--rotation));

  --small-rotation: calc(0.5 * var(--rotation));
  --small-rotation-negative: calc(-1 * var(--small-rotation));

  --shake-amount: 5px;
  --shake-amount-negative: calc(-1 * var(--shake-amount));
 

  --movement-distance: 10px;

  --fade-scale: 0.95;


  --rolled-degree: 360deg;
  --rolled-degree-negative: calc(-1 * var(--rolled-degree));
  --rolled-distance: 100%;
  --rolled-distance-negative: calc(-1 * var(--rolled-distance));
}
