@theme {
  --animate-flip-x: flip-x 0.6s ease-in-out;
  --animate-flip-y: flip-y 0.6s ease-in-out;

  --animate-to-flip-x: flip-x 0.6s ease-in-out reverse;
  --animate-to-flip-y: flip-y 0.6s ease-in-out reverse;

  --animate-flip-pulse: flip-pulse 1.2s ease-in-out infinite;
  --animate-flip-flash-x: flip-flash-x 0.8s ease-in-out;
  --animate-flip-flash-y: flip-flash-y 0.8s ease-in-out;
}

@keyframes flip-x {
  from {
    transform: perspective(400px) rotateX(0);
  }
  to {
    transform: perspective(400px) rotateX(180deg);
  }
}

@keyframes flip-y {
  from {
    transform: perspective(400px) rotateY(0);
  }
  to {
    transform: perspective(400px) rotateY(180deg);
  }
}

@keyframes flip-pulse {
  0%,
  100% {
    transform: perspective(400px) rotateY(0);
  }
  50% {
    transform: perspective(400px) rotateY(180deg);
  }
}

@keyframes flip-flash-x {
  0% {
    transform: perspective(400px) rotateX(0);
    opacity: 0;
  }
  50% {
    transform: perspective(400px) rotateX(180deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateX(0);
    opacity: 0;
  }
}

@keyframes flip-flash-y {
  0% {
    transform: perspective(400px) rotateY(0);
    opacity: 0;
  }
  50% {
    transform: perspective(400px) rotateY(180deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateY(0);
    opacity: 0;
  }
}
