@theme {
  --animate-shake: shake 0.5s ease-in-out;

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(var(--shake-amount-negative));
    }
    50% {
      transform: translateX(var(--shake-amount));
    }
    75% {
      transform: translateX(var(--shake-amount-negative));
    }
    100% {
      transform: translateX(0);
    }
  }
}
