@theme {
  --animate-wiggle: wiggle 1s ease-out;
  --animate-wiggle-hard: wiggle-hard 0.5s ease-out;
  --animate-wiggle-soft: wiggle-soft 2s ease-out;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(
      0deg
    ); /* Se asegura que empiece y termine en el estado normal */
  }
  33% {
    transform: rotate(var(--rotation));
  }
  66% {
    transform: rotate(var(--rotation-negative));
  }
}

@keyframes wiggle-hard {
  0%,
  100% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(calc(2 * var(--rotation)));
  }
  66% {
    transform: rotate(calc(2 * var(--rotation-negative)));
  }
}

@keyframes wiggle-soft {
  0%,
  100% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(var(--small-rotation));
  }
  66% {
    transform: rotate(var(--small-rotation-negative));
  }
}
